.Order{
    width:80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}
.Order span{
    border:2px solid #ccc;
    box-shadow: 0 2px 3px #aaa;
    margin: auto 2vh;
    padding: 1vh;
}